<main>
    <section class="dashboard">
        <article class="dashTitleNumber">
            <h2>Bienvenue dans ton dashboard, <%= locals.session.user?.pseudo %></h2>
            <h2>Maximum 20 classes</h2>
        </article>
    
        <h3>Tes classes</h3>

        <section class="allClassesDashboard">
            <% if (classes.length > 0) { %>
                <% if (classes.length < 21) { %>
                    <% for( let i = 0; i < classes.length; i++ ) { %>
                        <section class="classesDashboard">
                            <article>
                                <h4>(<%= i + 1 %>) <span class="txtClassesBlue">Classe</span>: <%= classes[i].classeName %></h4>
                                <p><span class="txtClassesBlue">Spécialisation</span>: <%= classes[i].role %></p>
                                <p><span class="txtClassesBlue">Dégâts</span>: <%= classes[i].dps %></p>
                                <p><span class="txtClassesBlue">PDV</span>: <%= classes[i].health %></p>
                                <p><span class="txtClassesBlue">Armure</span>: <%= classes[i].armor %></p>
                                <p><span class="txtClassesBlue">Pièces d'or</span>: <%= classes[i].gold %></p>
                            </article>
                            
                            <a href="/dashboard/delete/<%= classes[i].id %>" class="btnDeleteClasse">❌</a>
                        </section>
                    <% } %>
                <% } else { %>
                    <p>Tu as atteint le maximum de classes autorisé, si tu veux en créer d'autres tu dois d'abord en supprimer !</p>
                    <p>Astuce: garde les meilleures classes que tu as pour rester au top du <a href="/ladder" class="txtHyperLink">classement</a>.</p>
                <% } %>
            <% } else { %>
                    <p>Tu n'a pas de classe(s), n'hésite pas à aller en créer dans le <a href="/creator" class="txtHyperLink">créateur</a> !</p>
            <% } %>
        </section>

        <a href="/logout" class="txtHyperLink">Déconnexion</a>
    </section>
</main>